<template name="trendingClucks">
  <section id="trending-clucks">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4>Trending now</h4>
          <ul>
            <li><a href="#">#ethereum</a></li>
            <li><a href="#">#lolcats</a></li>
            <li><a href="#">#KenIsAGoblin</a></li>
            <li><a href="#">#frontierFTW</a></li>
            <li><a href="#">#solidity</a></li>
            <li><a href="#">#dogethereum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
