@import "lib/colors";

#navbar{
  border-radius: 0;
  background-color: @bg-dark;
  p, a{
    color: @text-light;
  }
  .navbar-brand{
    padding: 5px 15px;
    span{
      color: @text-yellow;
    }
  }
  .logo{
    height: 100%;
    display: inline-block;
  }
}